h3 {
    color: aqua;
}

/* Targeting HTML via element */
body {
    background-color: grey;
}

h4 {
    color: rgb(42, 165, 63);
    text-align: center;
}

/* Targeting via class */
.square {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: auto;
}

/* Targeting via ID */
#circle {
    background-color: beige;
    border-color: red;
    margin: auto;
}